
html, body, :global(#root) {
  height: 100%;
}
:global {
  .textRight{
    text-align: right
  }

  .floatRight{
    float: right;
  }
  .margin-bottom10{
    margin-bottom: 10px
  }
  .padding-left10{
    padding-left: 10px
  }
  .margin-left10{
    margin-left: 10px;
  }
}

